<div class="col-md-2"> 
	<ul class="list-group">
		<li class="list-group-item"><%= link_to "Users", admin_root_path %></li>
		<li class="list-group-item"><%= link_to "Blog Posts", admin_blog_posts_path %></li>
		<li class="list-group-item"><%= link_to "Private Files", 	admin_static_sites_show_files_path("root") %></li>
	</ul>
</div>