<%= render 'admin/sidebar' %>
<div class="col-md-10">
  <div class="panel-group" id="accordion">
    <%= render :partial => 'display_user',:locals => {:title => "Confirmed Users", :active => "in",:number => 1, :users => @confirmed_users} %>
    <%= render :partial => 'display_user',:locals => {:title => "Unconfirmed Users", :active => "",  :number => 2, :users => @unconfirmed_users} %>
  </div>
</div>